header {
    background: #BBBBBB;
    padding: 20px;
    width: auto;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    background-color: #CCCCCC;
    margin:0 1.5%; /* espaçamento externo */
    padding: 30px 20px; /* espaçamento interno */
    box-sizing: border-box; /* espaçamento lateral dentro do espaçamento percentual -> width é definitivo. o elemento sempre ocupará 30% da largura */
}

.produtos h2 { 
    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;

}

.descricao {
    font-size: 18px;
}

.preço {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}